@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 30px;
}

.x-big {
  font-size: 40px;
}

.medium {
  font-size: 20px;
}

.m-big {
  font-size: 25px;
}

.small {
  font-size: small;
}

.x-small {
  font-size: x-small;
}
