.date {
  margin-top: 95px;
}

.main-info {
  width: 33%;
  text-align: center;
}

.nutrient {
  width: 50%;
}

.n-icon {
  width: 50%;
}

.n-details {
  width: 50%;
}

.nutrient-wrapper {
  height: calc(60vh - 160px);
}

.info-wrapper {
  height: calc(40vh - 160px);
}
